<body>
  <div class="container section-Team">

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 Team-heading text-center">
        <h1>About Team Chartreuse</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="row section-success text-center">
          <div class="col-md-12 section1">
            <img src="">
          </div>
          <div class="col-md-12 section2">
            <h5>Ian H. Pittwood</h5>
            <h6>Advanced App Engineering Analyst</h6>
            <p>Chicago</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="row section-success text-center">
            <div class="col-md-12 section1">
              <img src="">
            </div>
            <div class="col-md-12 section2">
              <h5>MD Merajul Islam</h5>
              <h6>Application Development Senior Analyst</h6>
              <p>Boston</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="row section-success text-center">
              <div class="col-md-12 section1">
                <img src="">
              </div>
              <div class="col-md-12 section2">
                <h5>Andrew Fowler</h5>
                <h6>Advanced App Engineering Analyst</h6>
                <p>New York</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="row section-success text-center">
                <div class="col-md-12 section1">
                  <img src="">
                </div>
                <div class="col-md-12 section2">
                  <h5>Diana Reyes</h5>
                  <h6>Business & Integration Arch Analyst</h6>
                  <p>Phoenix</p>
                </div>
              </div>
            </div>

    </div>

    


  </div>
</body>
