<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Weather Details for {{city.name}}</h1>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <!-- TODO: Insert weather icon here -->
      {{city.weather[0].main}}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      {{city.main.temp}} &deg;C
    </div>
  </div>
  <div class="row justify-content-center">
    <!-- TODO: Insert forecast data -->
    <div class="col">
      Today's Forecast
    </div>
  </div>
</div>
