<nav class="navbar navbar-expand-lg navbar-light" style="background: #f0f5f5">
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/weather-flat/64/4102314%20-%20cloud%20cloudy%20sun%20sunny%20weather.png" width="32"
         height="32" class="d-inline-block align-top" alt="">
    Team Chartreuse
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cities" routerLinkActive="active">Weather App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cities/favorites" routerLinkActive="active">My Favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
      </li>
    </ul>
  </div>
</nav>
