<!-- the body of this should be similar to the inside of the ngfor loop in city-list -->
<div class="card m-3">
  <div class="card-body">
    <h5 class="card-title">{{city.name}}</h5>
    <h6 class="card-subtitle mb-2">{{city.currentConditions.temp}} &deg;F <span
      class="pl-3 text-muted">Hi {{city.currentConditions.tempMax}} / Lo {{city.currentConditions.tempMin}}</span>
    </h6>
    <p class="card-text">
      <img src="../../assets/images/weather-flat/128/{{city.currentConditions.icon}}"><br>

      <small class="text-muted">{{city.currentConditions.longDescription | lowercase}}</small>
      <br>

      <a [routerLink]="['/cities', city.id]" routerLinkActive="active">Details...</a>
    </p>
  </div>
</div>
