<!--app-city-thumbnail should be taking in a value for city and
  printing the summary thumbnail so it needs to replace the div ngfor loop-->
<div class="form-group">
   <input type="text" class="form-control" placeholder="Search By City Name" [(ngModel)]="searchTerm" style="width: 250px;float: right"/>
</div> 
<h2 class="mt-2 mb-1">Weather by City</h2>

<div class="row">
  <div *ngFor="let city of cityDataList ; let even = even; let i = index" class="col-md-4 col-sm-4 col-xs-12 card" style="border: none">
    <app-city-thumbnail [city]="city"></app-city-thumbnail>
  </div>
</div>
